@media screen and (max-width: 767px) {

  .header {
    width: 100vw;
    height: 100vh;
  }

  nav {
    padding: 2rem 1rem;
    margin-top: -1rem;
  }

  .logo img {
    width: 50%;
    margin-top: 1rem;
    cursor: pointer;
  }

  .nav-lists {
    position: absolute;
    background-color: var(--primary-color);
    height: 100vh;
    width: 20rem;
    top: 0;
    right: -20rem;
    text-align: left;
    padding: 2rem 3rem;
    z-index: 2;
    transition: 0.5s;
  }

  .nav-lists ul li {
    display: block;
    font-size: 1.5rem;
    line-height: 6rem;
    padding: 2rem;
  }

  nav .fa-solid {
    display: block;
    color: var(--secondary-color);
    font-size: 2rem;
    margin: 0 1.5rem;
    cursor: pointer;
  }

  .text-box h1 {
    font-size: 1.9rem;
  }

  .text-box p {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    width: 25rem;
  }

  .hero-btn {
    font-size: 0.8rem !important;
    padding: 0.5rem 2rem !important;
    margin-top: 1.5rem !important;
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
  }

  .arrow-up .fa-arrow-up {
    padding: 0.7rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    bottom: 1rem;
    right: 1rem;
  }

  .section-title {
    font-size: 2.2rem !important;
  }

  .section-para {
    font-size: 1.2rem !important;
    padding: 0.5rem 0 !important;
    line-height: 1.3rem !important;
  }

  .row {
    margin-top: 2rem !important;
    flex-direction: column;
  }

  .course-col {
    border-radius: 0.5rem;
    padding: 0.8rem 0.4rem;
    margin: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
  }

  .course-col h3 {
    font-size: 1.6rem;
  }

  .campus-col img {
    width: 70%;
    height: 70%;
    border-radius: 2rem;
  }

  .color-layer:hover {
    display: none;
  }

  .facility-col {
    border-radius: 0.5rem;
    margin: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .facility-col img {
    width: 30rem;
    height: fit-content;
    border-radius: 2rem;
  }

  .facility-col h3 {
    font-size: 1.6rem;
    margin: 0.5rem 0;
  }

  .facility-col p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0.5rem;
  }

  .testimonials {
    padding-bottom: 6rem;
  }

  .testimonial-col {
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin: 2rem;
  }

  .testimonial-col img {
    width: 15rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .testimonial-col h3 {
    font-size: 1.6rem;
    margin: 0.5rem;
  }

  .testimonial-col p {
    line-height: 2rem !important;
  }

  .testinomial-text {
    padding-left: 2rem;
  }

  .txt-cntr-padd {
    padding-top: 4rem !important;
  }

  .cta {
    padding-top: 8rem;
    border-radius: 0.5rem;
    padding: 6rem;
  }

  .cta h1{
    font-size: 1.1rem;
  }

  .footer p {
    padding: 1rem 4rem !important;
  }

  .icons .fa-brands {
    margin: 0 0.7rem;
    font-size: 1.6rem;
    padding: 0rem 0;
  }
}
