@media (min-width: 767px) and (max-width: 1023px) {
  nav {
    padding: 3rem 3rem !important;
  }

  .logo img {
    width: 68%;
    margin-top: 1.4rem;
  }

  .nav-lists ul li {
    font-size: 1.6rem;
    gap: 2.5rem;
  }

  .text-box h1 {
    font-size: 2.9rem;
  }

  .text-box p {
    font-size: 1rem;
    margin-top: 0.8rem;
  }

  .hero-btn {
    font-size: 1rem !important;
    padding: 1rem 3rem !important;
    margin-top: 2.5rem !important;
  }

  .arrow-up .fa-arrow-up {
    padding: 0.5rem 0.5rem;
    border-radius: 0.7rem;
    font-size: 2rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .section-title {
    font-size: 2.5rem !important;
  }

  .section-para {
    font-size: 1.3rem !important;
    padding: 0.8rem !important;
    line-height: 2rem !important;
  }

  .row {
    margin-top: 3.5rem !important;
  }

  .course-col {
    border-radius: 0.7rem;
    padding: 1.5rem 0.8rem;
    margin: 2rem;
  }

  .course-col h3 {
    font-size: 1.7rem;
    margin: 0.5rem 0;
  }

  .campus-col {
    margin: 2rem;
    border-radius: 1rem;
  }

  .campus-col img {
    width: 100%;
    height: 100%;
  }

  .facility-col {
    border-radius: 0.7rem;
    margin: 1.5rem;
  }

  .facility-col img {
    width: 20rem;
    height: fit-content;
    border-radius: 0.7rem;
  }

  .facility-col h3 {
    font-size: 1.7rem;
    margin: 0.7rem 0;
  }

  .facility-col p {
    font-size: 1.2rem !important;
    line-height: 2rem !important;
    padding: 0.6rem !important;
  }

  .testimonials {
    padding-bottom: 8rem;
  }

  .testimonial-col {
    border-radius: 0.7rem;
    padding: 1.7rem;
    margin: 1.7rem;
  }

  .testimonial-col img {
    width: 18rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .testimonial-col h3 {
    font-size: 1.7rem;
    margin: 0.3rem 0;
  }

  .testimonial-col p {
    line-height: 2rem !important;
    padding: 0rem;
  }

  .testinomial-text {
    padding-left: 1.5rem;
  }

  .cta {
    padding-top: 9rem;
    background-position: center;
    border-radius: 0.7rem;
    padding: 8rem;
  }

  .footer h4 {
    font-size: 2.7rem;
  }

  .icons .fa-brands {
    margin: 0 0.7rem;
    font-size: 1.8rem;
    padding: 1.5rem 0;
  }
}
